
$theme-color: (
    "sucess":#74C69D,
    "black":#212529,
    "white":#FFFFFF,
    "gold":gold,
    "bold-black":#000000,
);

$fonts:(
    "20":20px,
    "40":40px,
    "16":16px,
    "15":15px,
    "28":28px,
    "24":24px,
    "21":21px,
);

$points : (
    mobile:576px,
)